
#header {
  color: #f8f8f8;
}
#header a {
  color: #f8f8f8;
  text-decoration: none;
  font-size: 1em;
  display: block;
  padding: .5em;
}
.brand {
  font-family: 'GearedSlab', serif;
}

/* navbar */
.navbar-inverse {
  background-color: #F8F8F8;
  border-color: #E7E7E7;
  background-image: linear-gradient(to bottom, #FF7203 0%, #D55E1B 100%);
}

.navbar-inverse .navbar-nav > li > a {
  text-shadow: none;
  color: #FFF;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: rgba(218, 55, 55, 0.6);
}

/* title */
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #CC3300;
}

#header #top-nav ul li a {
  -webkit-transition: background, 0.5s, ease-in-out;
  -moz-transition: background, 0.5s, ease-in-out;
  -o-transition: background, 0.5s, ease-in-out;
  transition: background, 0.5s, ease-in-out;
}
#header #top-nav ul li a:hover {
  background: #922e0f;
}

.lb-content {
  margin-top: 50px;
}

#content #welcome p {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
#content #shoutbox .message {
  font-size: .8em;
}
#content #shoutbox .message date {
  color: #949494;
}
#content #shoutbox .message name {
  font-weight: 700;
}

#footer {
  color: #f8f8f8;
}

.card h2 {
  border-bottom: 1px solid #e0e0e0;
}

input[type=text],
textarea {
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  height: 3em;
  margin: .5em 0;
  padding: 0 .5em;
  width: 100%;
}
input[type=text]:first-child,
textarea:first-child {
  margin-top: 0;
}


#header {
  background: #c03d14;
  border-bottom: 1px solid #922e0f;
}
#header #menu-icon {
  position: absolute;
  top: .25em;
  right: .25em;
}
#header #menu-icon img {
  width: 2em;
}

#header #top-nav ul {
  display: none;
}
#header #top-nav ul li:last-child {
  margin: 0 0 .5em 0;
}

#content #welcome {
  background: #e0e0e0;
  margin: 0 0 1em;
  padding-bottom: 1em;
}
#content #welcome img {
  margin: 0 .25em 0 0;
}
#content #chat #shoutbox {
  height: 300px;
  margin: 0 0 .5em;
}
#content #chat #shoutbox .message {
  margin: 0 0 .10em;
}
#content #chat #shoutbox-options {
  display: none;
}

#footer {
  background: #c03d14;
  border-top: 1px solid #922e0f;
  margin: 2em 0 0 0;
  padding: 0 0 1em;
}
#footer .to-top {
  float: right;
}

.fp-tops-ul ul {
  list-style: none;
}

.fp-tops-title {
  font-size: 10pt;
}

.fp-tops-count {
  font-size: 8pt;
}

@media screen and (min-width: 600px) {
  #header #menu-icon {
    display: none;
  }
  .brand {
    float: left;
    /*margin: 0 1em 0 0;*/
  }
  #header #top-nav ul {
    display: block;
  }
  #header #top-nav ul li {
    float: left;
  }
  #header #top-nav ul li:last-child {
    margin: 0;
  }

  #content #chat #shoutbox-input input,
  #content #chat #shoutbox-input button {
    float: left;
  }
  #content #chat #shoutbox-input .nickname {
    margin: 0 5px 0 0;
    width: 15%;
  }
  #content #chat #shoutbox-input .message {
    margin: 0 5px 0 0;
    width: 70%;
  }
  #content #chat #shoutbox-input .button {
    width: 10%;
  }
  #content #chat #shoutbox-options {
    display: none;
  }

  #footer .to-top {
    display: none;
  }

  .card {
    padding: 0 2em 0 0;
  }

  .last {
    padding: 0;
  }
}
@media screen and (min-width: 801px) {
  .container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
  }

  .one-third {
    float: left;
    width: 33.33333%;
  }

  .two-thirds {
    float: left;
    width: 66.66667%;
  }
    .one-half {
    float: left;
    width: 50%;
  }
}