*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 20px tahoma;
	padding-bottom:5px;
	padding-top:3px;
	color: #000000;
}
h2{
	font: bold 14px tahoma;
	padding-bottom:5px;
}
h3{
	font: bold 20px tahoma;
	padding-bottom:5px;
	padding-top:3px;
	color: black;
}
p{
	margin-top: 6px;
	margin-bottom:6px;
}
header, section, footer, aside, nav, article, hgroup {
	display:block;
}
body {
	text-align:center;
	font:normal 14px arial;
	min-width: 320px;
	background: #4d4d4d;
}
img{
	border-style:none;
}
article{
	text-align:justify;
	padding:10px 5px 10px 5px; /* top,right,bottom,left */
	margin:10px 0px 10px 0px;
	font:normal 15px arial;
	line-height:125%;
	background: white;
    color: #000000;
}
article.special{
	border:none;
	text-align:justify;
	padding:10px;
    background:#DBDBDB;
	color:black;
	line-height:125%;
	padding:10px 5px 10px 5px; /* top,right,bottom,left */
	margin:10px 0px 10px 0px;
}
a{
	text-decoration:none;
	color: #000000;
}
a:hover{
	color:orange;
}
#page{
	width: 100%;
	margin: auto;
	display:-webkit-box;
	-webkit-box-flex:1;
	-webkit-box-orient:vertical;
}
#top_nav{
	padding:7px 0px 4px 0px; /* top,right,bottom,left */
	background: #DBDBDB;
	margin-bottom:10px;
}

#top_nav li{
	display:inline-block;
	list-style:none;
	padding:5px 0px 5px 40px; /* top,right,bottom,left */
	font: bold 14px Arial;
}
/*a.links{
	color: #1a1a1a;
	font: bold 16px Arial;
	text-decoration:none;
	background: #E6E6E6;
	border-radius:6px;
	width:auto;
	display:block;
	padding: 0px 10px 0px 10px;/* top,right,bottom,left 
	text-align:center;	
}
a.links:hover{
	background: orange;
	-moz-transition: all 0,5s ease-in;
	-o-transition: all 0,5s ease-in;
	transition: all 0,5s ease-in;
} */
#contens{
	text-align: justify;
	display:-webkit-box;
	-webkit-box-orient: vertical;
}
#main{
	float:center;
}
#user{
	padding: 10px 0px 0px 0px; /* top,right,bottom,left */
	text-align:lfet;
}
#color{
	padding: 10px 0px 10px 0px; /* top,right,bottom,left */
	text-align:left;

}
#footer{
	clear:both;
    text-align:justify;
    padding: 10px; /* top,right,bottom,left */
	padding-left: 15%; 
	padding-right:15%;
    background:#DBDBDB;
    color: #000000;
	line-height:115%;
}
#station_cnt{
	text-align: center;
}
#station_cnt a{
	color: white;
	font-size:70%;
}
#station_cnt a:hover{
	color: white;
}
#sb_form{
	text-align:center;
}
.shoutbox_content {
   margin-top: 1%;
   position: relative;
   text-align: left;
   width: 100%;
   min-height: 50px;
   height: 250px;
   max-height: 400px;
   overflow: hidden;
}
